body {
    font-family: 'Lalezar', sans-serif;
    background-color: #87CEEB; /* Light blue background */
    color: #333; /* Dark text color */
    text-align: center;
}

.admin-container {
    margin: 50px auto;
    padding: 20px;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.home-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.home-button:hover {
    background-color: #555;
}

.edit-button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.edit-button:hover {
    background-color: #555;
}

.users-container {
    margin: 20px 0;
}

#user-list {
    list-style: none;
    padding: 0;
}

#user-list li {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    background-color: #f9f9f9;
}

#user-list li:hover {
    background-color: #f1f1f1;
}

.admin-menu-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.nav-button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #555;
}

.user-form,
.generate-users-form {
    margin: 20px 0;
}

.user-form .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-form label,
.generate-users-form label {
    text-align: left;
    margin-left: 10px;
    font-size: 1.1em;
}

.user-form input[type="text"],
.user-form input[type="checkbox"],
.generate-users-form input[type="text"],
.generate-users-form input[type="checkbox"] {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.user-form .btn,
.generate-users-form .btn {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.user-form .btn:hover,
.generate-users-form .btn:hover {
    background-color: #555;
}
