@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: "Lalezar";
    text-align: center;

    height: 100vh;
    width: 100vw;
    display: block;
    grid-template-columns: max-content auto;
    align-items: center;
    z-index: 1;

    margin-left: auto;
    margin-right: auto;
}

html {
    background-image: url("images/gamebg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(7, 60px);
    gap: 5px;
    justify-content: center;
    margin: 10vh auto;
    background-color: #000000;
    padding: 5px;
    border-radius: 10px;
    width: 480px;
    height:410px;
    background: #FCC634;
    box-shadow: 13px 17px 4px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
}

.container {
    position: static;
    align-self: center;
    margin-top: 250px;
    margin-bottom: 250px;
}

.cell {
    width: 60px;
    height: 60px;
    background-color: #66c4ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    background: #A6DDFF;
    box-shadow: inset 0px 25px 4px rgba(0, 0, 0, 0.25);
    
}

#player1-color {
    font-family: "Inter";
    height: 40px;
    width: 100px;
    font-size: 20px;
    border: none;
    background-color: white;
    margin: 20px;
}

h2 {
    font-size: 4em;
    margin: 0;
}

#start-button {
    font-family: "Lalezar";
    font-size: 30px;
}

#start-button:hover {
    color: #FCC634;
    background-color: #1565F8;
}

label {
    font-size: 20px;
    font-family: "Inter";
    font-weight: bold;
}

.cell.red {
    background-color: #C051FF;
}

.cell.yellow {
    background-color: #1565F8;
}

.cell.blue {
    background-color: blue;
}

.cell.green {
    background-color: green;
}

/* .win-banner {
    display: block;
    margin-top: 10px;
    background-image: url("images/win-banner.png");
    background-repeat: no-repeat;
    background-size: contain; 
    object-fit:contain;
    width: 500px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    
} */

#winner-message {
    font-weight: bold;
    margin-top: 15px;
   

    position: fixed;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    left: 0;
    right: 0;
    padding: 0;

    height: 110px;
    justify-content: center;
    align-content: center;
    width: 650px;

    background-image: url("images/win-banner.png");
    background-position: center;
    background-repeat: no-repeat;
    
    object-fit:contain;
    background-size: 395px;

}


#game-container {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.hidden {
    display: none;
}

.title {
    margin: 0;
    font-family: "Lalezar";
    font-style: normal;
    font-size: 11em;
    line-height: 1.25;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.11em;

    color: #FCC634;

    text-shadow: 0px 0px 20px #1565F8;
}

.menu_buttons {
    grid-row: 2;
    text-decoration: none;
}

button {
    margin: 0 2em;
    padding: 0.3em 1rem;

    background: #FCC634;
    border: 3px solid #1565F8;
    border-radius: 20px;

    font-family: 'Inter';
    font-size: 20px;
    text-align: center;
}

button:hover {
    color: #FCC634;
    background-color: #1565F8;
    font-weight: bold;
}

.board_main_menu {
    float: left;
    padding: 10% 0;
    max-height: 95vh;
    box-sizing: border-box;
}

.lalezar-regular {
    font-family: "Lalezar", system-ui;
    font-weight: 400;
    font-style: normal;
}
  
.options{
    display: flex;
    /* position: fixed; */

    position: relative;

    flex-direction: column;
    padding: 0;
    margin-left: 80vw;
    width: 180px;
    margin-top: 0;
    margin-bottom: 45px;
}

.options button {
    margin: 10px;
}

#turns-container {
    display: 'flex';
    
    position: fixed;
    margin-inline-start: 0;
    font-size: 20px;
    align-items: left;
    /* padding-left: 2rem; */
    text-align: center;
    margin: 0;
}

#turns-container h3 {
    font-family: "Lalezar";
    font-size: 50px;
    margin: 0;
    color: #FCC634;
    text-shadow: -1px -1px 0 black
                1px -1px 0 black
                -1px 1px 0 black
                1px 1px 0 black;
    -webkit-text-stroke: 1.8px black;
}

#turns-container .container-com{
    background-color: #1565F8;
    /* border-radius: 10px; */
    border-radius: 0 17px 17px 0;
    width: 170px;
 
    
}

#turns-container p{
    padding:10px;
    color: #FFFF;
}

#turns-container .container-player{
    background-color: #C051FF;
    /* border-radius: 10px; */
    border-radius: 0 17px 17px 0;
    width: 170px;
    

}

/* .container-player.player {
    background-color: #C051FF;
            border-radius:20px;
            box-shadow: 0 0 5px 10px #8200ce inset;
} */