body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(7, 60px);
    gap: 5px;
    justify-content: center;
    margin: 20px auto;
    background-color: #000000;
    padding: 5px;
    border-radius: 10px;
    width: 480px;
    height:410px;
    background: #FCC634;
    box-shadow: 13px 17px 4px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
    

}

.cell {
    width: 60px;
    height: 60px;
    background-color: #66c4ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;

    
    background: #A6DDFF;
    box-shadow: inset 0px 25px 4px rgba(0, 0, 0, 0.25);
    
}







.cell.red {
    background-color: #C051FF;
}

.cell.yellow {
    background-color: #1565F8;
}

.cell.blue {
    background-color: blue;
}

.cell.green {
    background-color: green;
}

button {
    padding: 20px 20px;
    font-size: 16px;
    cursor: pointer;
}

#winner-message {
    margin: 20px auto;
    font-size: 24px;
    font-weight: bold;
}

#color-selection {
    margin: 20px auto;
}

.hidden {
    display: none;
}

html, 
body {
    margin: 0
}

body {
    background: linear-gradient(180deg, #039FFF 0%, #5CC1FF 38%, #A6DDFF 76%);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    z-index: 1;
}

.menu_container {
    display: grid;
    justify-items: center;
    align-items: center;

    margin-bottom: 100px;
}

.title {
    margin: 0;
    font-family: 'Lalezar';
    font-style: normal;
    font-size: 11em;
    line-height: 1.25;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.11em;

    color: #FCC634;

    text-shadow: 0px 0px 20px #1565F8;
}

.menu_buttons {
    grid-row: 2;
    text-decoration: none;
}

button {
    margin: 0 2em;
    padding: 0.5em 1.4em;

    background: #FCC634;
    border: 3px solid #1565F8;
    border-radius: 20px;

    font-family: 'Inter';
    font-size: 1.6em;
    text-align: center;
}
button:hover {
    cursor: pointer;
}

.board_main_menu {
    float: left;
    padding: 10% 0;
    max-height: 95vh;
    box-sizing: border-box;
}
