html {
    margin: 0;
    padding:0;
    /* background: linear-gradient(180deg, #039FFF 0%, #5CC1FF 38%, #A6DDFF 76%); */
}

body {
    background-image: url('images/bgindex.png');
    background-size:cover;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    margin:0;
    padding:0;
}

.menu_container {
    display: grid;
    justify-items: center;
    align-items: center;
}

.title {
    margin: 0;
    font-family: 'Lalezar';
    font-style: normal;
    font-size: 11em;
    line-height: 1.25;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.11em;
    color: #FCC634;
    text-shadow: 0px 0px 20px #1565F8;
}

.menu_buttons {
    grid-row: 2;
    text-decoration: none;
}

button {
    margin: 0 2em;
    padding: 0.5em 1.4em;
    background: #FCC634;
    border: 3px solid #1565F8;
    border-radius: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 1.6em;
    text-align: center;
    text-decoration: none;
    color: #1565F8;
}
button:hover {
    cursor: pointer;
    background-color: #1565F8;
    color: #FCC634;
    border: 3px solid #FCC634;
}

.board_main_menu {
    align-items: left;
    padding:0;
    max-height: 95vh;
    box-sizing: border-box;
    margin:0;
}

.footer h3{
    margin-top: 100px;
    font-family:'Inter', sans-serif;
    font-size: 20px;
    color: #1565F8;
}

.footer h3 a{
    text-decoration: none;
}

.footer h3 a:hover{
    text-decoration:underline;
}
}